name: Go
on:
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.14
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test ./... -coverprofile=./coverage.out
    - name: coverage
      run: go tool cover -html=./coverage.out